.one
  %p
    We promise not to spam you. We're not affiliated with Twitter, blah, blah. Brought to you by 
    %a{:href => "http://twitter.com/lachlanhardy"} @lachlanhardy
    ,
    %a{:href => "http://twitter.com/philoye"} @philoye
    , and beer.

.two
  %h4
    The latest from
    %a{:href => "http://twitter.com/frypan"} @frypan
    
  %ul
    %li This is a tweet. This is a tweet. This is a tweet. This is a tweet. This is a tweet. 
    %li This is a tweet. This is a tweet. This is a tweet. This is a tweet. This is a tweet. 
    %li This is a tweet. This is a tweet. This is a tweet. This is a tweet. This is a tweet. 
    
.three
  %ul
    %li
      %a{:href=>path_to_page(".")} Home
    %li
      %a{:href=>"about"} What is Frypan?
    %li
      %a{:href=>"#"} Follow us on Twitter
    %li
      %a{:href=>"#"} Privacy
    %li
      %a{:href=>"#"} ????
