- if @access_token.params[:user_id]
  %h1 Congratulations!
  %p 
    You've authenticated your control of the
    %strong= @access_token.params[:screen_name]
    Twitter account.
- else
  %p Something went badly wrong. Hold me?
  