!!!
%html{ :lang => "en" }
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    %title
      Frypan » New follower report
    %meta{ :name => "generator", :content => "TextMate http://macromates.com/" }
    %meta{ :name => "author", :content => "Phil Oye" }
    %style{ :type => "text/css", :media => "screen" }
      \#FRYcontainer a { color: #990000;}
      \#FRYcontainer a:visited { color: #990000;}
      \#FRYcontainer a img { border: 1px solid #cccccc;}
      \#FRYcontainer a:hover img { border: 1px solid #990000;}

  %body{ :bgcolor => "#dddddd", "font-size" => "1x", :topmargin => "0", :rightmargin => "0", :vlink => "#990000", :marginwidth => "0", :bottommargin => "0", :link => "#990000", :leftmargin => "0", :marginheight => "0" }
    %style{ :type => "text/css", :media => "screen" }
      \#FRYcontainer a { color: #990000;}
      \#FRYcontainer a:visited { color: #990000;}
      \#FRYcontainer a img { border: 1px solid #cccccc;}
      \#FRYcontainer a:hover img { border: 1px solid #990000;}

    %table#FRYcontainer{ :cellspacing => "0", :cellpadding => "0", :width => "100%" }
      %tr
        %td{ :bgcolor=>"#dddddd", :valign => "top", :align => "center" }

          %table{ :cellspacing => "0", :border => "0", :cellpadding => "10", :align => "center", :width => "580" }
            %tr
              %td{ :bgcolor => "ffffff", :valign => "top" }

                %table{ :cellspacing => "0", :border => "0", :cellpadding => "0", :align => "center", :width => "560" }
                  %tr
                    %td{ :valign => "top", :style => "padding: 10px 0; font-family: Helvetica, Arial, sans-serif; font-size: 11px; color: #333; line-height: 1.3;" }
                      You are getting this because...
              
                %table{ :bgcolor => "white", :cellspacing => "0", :border => "0", :cellpadding => "0", :align => "center", :width => "560" }
                  %tr
                    %td{ :bgcolor => "#CC0000", :valign => "top", :style => "padding: 5px 15px; font-family: Helvetica, Arial, sans-serif; font-size: 48px; font-weight: bold; color: #fff; line-height: 1.3;" }
                      Frypan
                      %span{ :style => "font-size: 14px; font-weight: normal"} 
                        Here is your hot bacn for
                        %strong 31 December 2009

                %table{ :cellspacing => "0", :border => "0", :cellpadding => "0", :align => "center", :width => "560" }
                  %tr
                    %td{ :width => "270", :valign => "top", :style => "padding: 20px 0 2px 0; border-bottom: 1px solid #999; text-transform: uppercase; font-family: Helvetica, Arial, sans-serif; font-weight: bold; font-size: 10px; color: #333; line-height: 1.3;" }
                      New people following you
                      %span{ :style=>"color: #666; font-weight: normal;" }Last 30 days
                    %td{ :width => "70", :valign => "top", :align=> "center", :style => "padding: 20px 0 2px 0; border-bottom: 1px solid #999; text-transform: uppercase; font-family: Helvetica, Arial, sans-serif; font-weight: bold; font-size: 10px; color: #333; line-height: 1.3;" }
                      Last 24 hours
                    %td{ :width => "170", :valign => "top", :style => "padding: 20px 0 2px 0; border-bottom: 1px solid #999; text-transform: uppercase; font-family: Helvetica, Arial, sans-serif; font-weight: bold; font-size: 10px; color: #333; line-height: 1.3;" }
                      Total Followers                                                                                                                                                                      
                  %tr                                                                                                                                                                                      
                    %td{ :rowspan=> "2", :width => "180", :bgcolor => "ffffff", :valign => "top", :style => "border-bottom: 1px solid #999; padding: 5px 0 0 0; font-family: Helvetica, Arial, sans-serif; font-size: 10px; color: #333; line-height: 1.3;" }
                      %img{ :alt=> "Follower trend chart", :src => "http://chart.apis.google.com/chart?cht=bvs&chs=270x50&chd=t:10,50,60,80,40,10,50,60,80,40,10,50,60,80,40,10,50,60,80,40,10,50,60,80,40,10,50,60,80,40|50,60,100,40,20,50,60,100,40,20,50,60,100,40,20,50,60,100,40,20,50,60,100,40,20,50,60,100,40,20&chco=cc0000,cccccc&chbh=5,2&chds=0,160"}
                      
                    %td{ :rowspan=> "2", :width => "180", :bgcolor => "ffffff", :align=> "center", :valign => "top", :style => "border-bottom: 1px solid #999; padding: 0; font-family: Helvetica, Arial, sans-serif; font-weight: bold; font-size: 60px; color: #333; line-height: 1;" }
                      11                                                                                                                                                                                   
                    %td{ :width => "170", :valign => "top", :style => "padding: 6px 0 0 0; font-family: Helvetica, Arial, sans-serif; font-size: 24px; font-weight: bold; color: #333; line-height: 1;" }
                      1001
                  %tr                                                                                                                                                                                      
                    %td{ :valign => "top", :style => "border-bottom: 1px solid #999; padding: 1px 0 0 0; font-family: Helvetica, Arial, sans-serif; font-size: 24px; font-weight: bold; color: #cc0000; line-height: 1;" }
                      400
                  %tr
                    %td{ :valign => "top", :style => "padding: 3px 0 0 0; text-transform: uppercase; font-family: Helvetica, Arial, sans-serif; font-weight: bold; font-size: 10px; color: #cc0000; line-height: 1.3;" }
                      New people you follow
                      %span{ :style=>"color: #cc0000; font-weight: normal;" }Last 30 days
                    %td{ :valign => "top", :style => "padding: 3px 0 0 0; text-transform: uppercase; font-family: Helvetica, Arial, sans-serif; font-weight: bold; font-size: 10px; color: #333; line-height: 1.3;" }
                      
                    %td{ :valign => "top", :style => "padding: 3px 0 0 0; text-transform: uppercase; font-family: Helvetica, Arial, sans-serif; font-weight: bold; font-size: 10px; color: #cc0000; line-height: 1.3;" }
                      You Follow                                                                                                                                                                      


                %table{ :cellspacing => "0", :border => "0", :cellpadding => "0", :align => "center", :width => "560" }
                  %tr
                    %td{ :width => "350", :valign => "top", :style => "padding: 20px 0 2px 0; border-bottom: 1px solid #999; font-family: Helvetica, Arial, sans-serif; font-size: 16px; color: #999; line-height: 1.3;" }
                      %img{ :src => "https://static.twitter.com/images/default_profile_normal.png", :width=>"48", :height=>"48"}
                      %a{ :href => "#"} @username
                      \/ Real Name
                    %td{ :width => "170", :valign => "bottom", :style => "padding: 20px 0 2px 0; border-bottom: 1px solid #999; font-family: Helvetica, Arial, sans-serif; font-weight: bold; font-size: 11px; color: #333; line-height: 1.3;" }
                      %a{ :href=>"#" } Follow
                      %a{ :href=>"#" } Block
                      %a{ :href=>"#" } Bounce

                %table{ :cellspacing => "0", :border => "0", :cellpadding => "0", :align => "center", :width => "560" }
                  %tr
                    %td{ :width => "80", :align => "center", :valign => "top", :style => "padding: 5px 0px 0px 0px; text-transform: uppercase; font-weight: bold; font-family: Helvetica, Arial, sans-serif; font-size: 10px; color: #333;" }
                      Follow ratio
                    %td{ :width => "", :valign => "top", :style => "padding: 5px 0pxx 0px 0px; font-family: Helvetica, Arial, sans-serif; font-size: 16px; color: #999;" }
                      &nbsp;
                    %td{ :width => "", :valign => "top", :style => "padding: 5px 10px 0px 0px; font-family: Helvetica, Arial, sans-serif; font-size: 16px; color: #999;" }
                      &nbsp;
                    %td{ :width => "80", :align => "center", :valign => "top", :style => "padding: 5px 0px 0px 0px; text-transform: uppercase; font-weight: bold; font-family: Helvetica, Arial, sans-serif; font-size: 10px; color: #333;" }
                      Tweets / day
                    %td{ :width => "", :valign => "top", :style => "padding: 5px 0px 0px 0px; font-family: Helvetica, Arial, sans-serif; font-size: 16px; color: #999;" }
                    %td{ :width => "", :valign => "top", :style => "padding: 5px 0px 0px 0px; font-family: Helvetica, Arial, sans-serif; font-size: 16px; color: #999;" }
                    %td{ :width => "60", :align => "center", :valign => "top", :style => "padding: 5px 0px 0px 0px; text-transform: uppercase; font-weight: bold; font-family: Helvetica, Arial, sans-serif; font-size: 10px; color: #333;" }
                      @&nbsp;Replies
                    %td{ :width => "60", :align => "center", :valign => "top", :style => "padding: 5px 0px 0px 0px; text-transform: uppercase; font-weight: bold; font-family: Helvetica, Arial, sans-serif; font-size: 10px; color: #333;" }
                      Retweets
                    %td{ :width => "50", :align => "center", :valign => "top", :style => "padding: 5px 0px 0px 0px; text-transform: uppercase; font-weight: bold; font-family: Helvetica, Arial, sans-serif; font-size: 10px; color: #333;" }
                      Links
                  %tr
                    %td{ :rowspan=>"2", :align => "center", :valign => "top", :style => "padding: 0px 0px 5px 0px; font-family: Helvetica, Arial, sans-serif; font-size: 48px; font-weight: bold; color: #333; line-height: 36px;" }
                      99+
                    %td{ :align => "right", :valign => "top", :style => "padding: 0px 5px 0px 0px; font-family: Helvetica, Arial, sans-serif; font-size: 18px; color: #333; font-weight: bold;" }
                      8799
                    %td{ :valign => "bottom", :style => "padding: 0px 10px 0px 0px; font-family: Helvetica, Arial, sans-serif; font-size: 10px; color: #333;" }
                      followers
                    %td{ :rowspan => "2", :align => "center", :valign => "top", :style => "padding: 0px 0px 5px 0px; font-family: Helvetica, Arial, sans-serif; font-size: 48px; font-weight: bold; color: #333;  line-height: 36px;" }
                      12
                    %td{ :align => "right", :valign => "top", :style => "padding: 0px 5px 0px 0px; font-family: Helvetica, Arial, sans-serif; font-size: 18px; color: #333; font-weight: bold;" }
                      1295
                    %td{ :valign => "bottom", :style => "padding: 0px 10px 0px 0px; font-family: Helvetica, Arial, sans-serif; font-size: 10px; color: #333;" }
                      updates
                    %td{ :rowspan => "2", :align => "center", :valign => "middle", :style => "padding: 0px 0px 5px 0px; font-family: Helvetica, Arial, sans-serif; font-size: 14px; font-weight: bold; color: #333;" }
                      %img{ :src => path_to_page("images/pies/orange/pie-o-34.png"), :height=>"25", :width=>"25" }
                      %br 34%
                    %td{ :rowspan => "2", :align => "center", :valign => "middle", :style => "padding: 0px 0px 5px 0px; font-family: Helvetica, Arial, sans-serif; font-size: 14px; font-weight: bold; color: #333;" }
                      %img{ :src => path_to_page("images/pies/red/pie-r-45.png"), :height=>"25", :width=>"25" }
                      %br 45%
                    %td{ :rowspan => "2", :align => "center", :valign => "middle", :style => "padding: 0px 0px 5px 0px; font-family: Helvetica, Arial, sans-serif; font-size: 14px; font-weight: bold; color: #333;" }
                      %img{ :src => path_to_page("images/pies/green/pie-g-18.png"), :height=>"25", :width=>"25" }
                      %br 18%
                  %tr
                    %td{ :valign => "middle", :align => "right", :style => "padding: 0px 5px 5px 0px; font-family: Helvetica, Arial, sans-serif; font-size: 18px; color: #333; font-weight: bold; line-height: .5;" }
                      65
                    %td{ :valign => "middle", :style => "padding: 0px 0px 5px 0px; font-family: Helvetica, Arial, sans-serif; font-size: 10px; color: #333;" }
                      follows
                    %td{ :valign => "middle", :align => "right", :style => "padding: 0px 5px 5px 0px; font-family: Helvetica, Arial, sans-serif; font-size: 18px; color: #333; font-weight: bold;line-height: 1;" }
                      23
                    %td{ :valign => "middle", :style => "padding: 0px 0px 5px 0px; font-family: Helvetica, Arial, sans-serif; font-size: 10px; color: #333;" }
                      favorites

                  %tr
                    %td{ :colspan => "6", :align => "left", :valign => "top", :style => "border-top: 1px solid #999; padding: 5px 0px 0px 0px; text-transform: uppercase; font-weight: bold; font-family: Helvetica, Arial, sans-serif; font-size: 10px; color: #333;" }
                      Last 5 Tweets

                      %ul{ :style => "margin-left: -2em; text-transform: none; font-weight: normal; font-size: 11px; line-height: 1.5" }
                        %li We don't call them Rising Stars for nothing! http://tinyurl.com/cdr6nk
                        %li We don't call them Rising Stars for nothing! http://tinyurl.com/cdr6nk
                        %li We don't call them Rising Stars for nothing! http://tinyurl.com/cdr6nk
                        %li We don't call them Rising Stars for nothing! http://tinyurl.com/cdr6nk
                        %li We don't call them Rising Stars for nothing! http://tinyurl.com/cdr6nk
                    %td{ :colspan => "3", :align => "left", :valign => "top", :style => "border-top: 1px solid #999; padding: 5px 0px 0px 0px; text-transform: uppercase; font-weight: bold; font-family: Helvetica, Arial, sans-serif; font-size: 10px; color: #333;" }
                      Location
                      %p London
