%h2 Get Started with Frypan

%ol
  %li 
    %p First you go to twitter.com to give us permission to view your followers and allow Frypan to follow/block on your behalf.
    %p We do this because we don't you to give us your Twitter username/password. Plus, if you change your mind, you can revoke Frypan's privileges.

  %li Then you'll come back here and register.
  
  %li Then each day, you'll get an email if you have new followers. 

%a{:href => path_to_page("sign-in-with-twitter")}
  %img{:src => path_to_image("Sign-in-with-Twitter-darker.png") }
%p.small
  We will don't ask for nor want your Twitter username/password. Be suspicious of anyone who does.
