#value_prop
  .one
    %h2 We turn this…
    %img{:src => path_to_image("twitter-follow-emails.gif") }
    %p.small
      As the spammers are getting into Twitter, these emails are becoming more and more useless. In fact you've probably already turned them off.

  .two
    %h2 …into a daily digest with stats.
    %img{:src => path_to_image("frypan-email-thumb.gif") }

  .three
    %h2 Why this is cool
    %ul.big
      %li Only one email to deal with per day
      %li We tell you about your followers: bio, location, url, and last 5 tweets.
      %li We include stats like tweets/day, follow ratio, % links, and more.
      %li Follow and block in one click from within your email client

    %h2 Ready to get started?
    %a{:href => path_to_page("sign-in-with-twitter")}
      %img{:src => path_to_image("Sign-in-with-Twitter-darker.png") }
    %p.small
      We will don't ask for nor want your Twitter username/password. Be suspicious of anyone who does.
  