- @pp_initial_page_state = "logged_in"

%h2 Welcome to Frypan @philoye
%p We'll start monitoring your followers, and email each day with any new ones.

%h3 A few things to keep in mind:
%ol.short
  %li 
    You must
    %strong confirm your email address,
    check your email. You won't receive follower notifications until you do.
  %li
    To be safe, add 
    %strong notifications@frypan.org
    to your address book to ensure it makes it pass your spam filter.
  %li If you haven't done so yet, turn off Twitter's follower notifications, unless you really like redundancy.
  %li
    You can turn off Frypan emails at anytime in your
    %a{:href=>path_to_page("account")} account.
  %li
    You can view your followers reports online here at Frypan.
  %li 
    Follow 
    %a{:href => "http://twitter.com/frypan"} @frypan
    for any updates.

